<!DOCTYPE html>
<html ng-app="test">
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/dist/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/style.css">
    <link rel="icon" type="image/png" href="/dist/favicon.ico">
    <title>Begin@</title>
</head>
<body ng-controller="body">

<div class="navbar navbar-default navbar-fixed-top navbar-transparent" affix>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Begin.at</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a>오늘의 인연</a>
                </li>
                <li>
                    <a ui-sref="questions">공감 질문</a>
                </li>
                <li>
                    <a>이용 안내</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="user.logged"><a ui-sref="profile.profile">프로필수정</a></li>
                <li ng-show="user.logged"><a ng-click="logout()">로그아웃</a></li>
                <li ng-show="!user.logged"><a popup="user,register">회원가입</a></li>
                <li ng-show="!user.logged"><a popup="user,login">로그인</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="alert-window fade-in-out" ng-controller="alert" ng-show="showing">
    <div class="message" ng-click="showing=!showing">
        <div ng-class="{'success':alert.success,'danger':!alert.success}">
            <div ng-bind-html="alert.alert"></div>
            <!--<small>{{alert.date.toString()}}</small>-->
        </div>
    </div>
</div>
<div class="popup" ng-show="popup.isShow()" ng-click="popup.hide()" ng-controller="popup">
    <div ng-class="classes[popup.getState()]" ng-click="$event.stopPropagation()">
        <ng-include src="url[popup.getState()]"></ng-include>
    </div>
</div>

<div ui-view></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
<script src="/node_modules/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
<script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
<script src="/dist/js.js"></script>
</body>
</html>