<div class="container" ng-controller="upload">
    <div class="row">
        <h3>사진</h3>
        <h4>
            <small>자신을 나타낼 수 있는 사진을 올려주세요.</small>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="photo in user.photos">
            <div class="panel-body">
                <div class="preview" ng-click="remove(photo)"
                     ng-style="{'background-image':'url(/dist/uploads/'+photo+')'}">
                    <i class="fa fa-times fa-2x"></i>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="dropzone" ngf-max-size="1MB" accept="image/*"
             ngf-drag-over-class="{accept:'accept',reject:'reject'}" ngf-drop
             ngf-select ng-model="picture">
            <div class="progress" ng-show="uploading">
                <div class="progress-bar" ng-style="{width: uploaded+'%'};">
                    <span class="sr-only">{{uploaded}}%</span>
                </div>
            </div>
            여기에 사진을 드래그하거나 클릭해서 사진을 선택해주세요.
        </div>
    </div>
</div>