<header ng-style="{'background-image':'url(/dist/uploads/'+question.cover+')'}">
    <div class="jumbotron">
        <div class="container">
            <h1 class="jeju-m">{{question.head||"제목"}}</h1>

            <p class="jeju-m" maxlength="80" ng-bind-html="question.body.newLine()">
            </p>

            <div class="btn btn-primary btn-sm" ng-click="next()">다른 커버</div>
            <div class="btn btn-primary btn-sm" ngf-select ng-model="cover">커버이미지 업로드</div>
            <div class="progress" ng-show="uploading">
                <div class="progress-bar" ng-style="{width: uploaded+'%'};">
                    <span class="sr-only">{{uploaded}}%</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="panel-body">

        <div class="row bordered">
            <h3>질문</h3>
            <input class="form-control" placeholder="제목" ng-model="question.head">
            <textarea maxlength="80" class="form-control" placeholder="내용" ng-model="question.body"></textarea>
        </div>
        <div class="row bordered">
            <h3>답변</h3>

            <div class="input-group" ng-repeat="answer in question.answers">
                <input class="form-control" ng-model="answer.text">

                <div class="input-group-addon" ng-click="question.answers.remove(answer)"><i class="fa fa-times"></i>
                </div>
            </div>
            <div class="input-group">
                <input ng-model="answer" class="form-control" placeholder="답변" ng-enter="addAnswer(answer)">

                <div class="input-group-addon" ng-click="addAnswer(answer)">답변 추가</div>
            </div>
        </div>
        <div class="row">
            <div class="btn btn-primary" ng-click="tempSave()">임시저장</div>
            <div class="btn btn-primary">작성완료</div>
        </div>
    </div>
</div>